<% content_for :header_content_analytics do %>
  mixpanel.track('Registration Step 1', {}, function(){$("#mixpanel_distinct_id_value").val(mixpanel.get_distinct_id());});
  mixpanel.track_forms("#new_user_registration .new_user", "Created Account");
<% end %>

<div class="devise_center">
  <h1>Sign Up</h1>
  <div class="col-md-offset-1" id="new_user_registration">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "new_user form-horizontal", :role => "form"}) do |f| %>
      <%= f.hidden_field :mixpanel_id, :value => "", :id => "mixpanel_distinct_id_value" %>

      <div class="form-group">
        <label for="inputEmail1" class="col-md-3 control-label">First name</label>
        <div class="col-md-8">
          <%= f.text_field :first_name, :autofocus => true, :placeholder => "First name", :class => "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <label for="inputEmail1" class="col-md-3 control-label">Last name</label>
        <div class="col-md-8">
          <%= f.text_field :last_name, :placeholder => "Last name", :class => "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <label for="inputEmail1" class="col-md-3 control-label">Email</label>
        <div class="col-md-8">
          <%= f.email_field :email, :placeholder => "Email address", :class => "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <label for="inputEmail1" class="col-md-3 control-label">Password</label>
        <div class="col-md-8">
          <%= f.password_field :password, :placeholder => "Password", :class => "form-control" %>
        </div>
      </div>

      <!-- <div class="form-group">
        <label for="inputEmail1" class="col-md-3 control-label">Confirm</label>
        <div class="col-md-8">
          <%= f.password_field :password_confirmation, :placeholder => "Password confirmation", :class => "form-control" %>
        </div>
      </div> -->

      <div class="form-group">
        <div class="col-md-10">
          <%= f.submit "Sign up", :class => "btn btn-lg btn-success" %>
        </div>
      </div>

    <% end %>
  </div>
</div>
