<%- unless @providers_rendered %>
<div class="modal fade" id="addProvider" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add File Storage Provider</h4>
      </div>
      <div class="modal-body">
        <p>What provider would you like to link to your account?</p>
        <div class="align-center">
          <p>
            <a class="btn btn-lg btn-primary btn-provider" id="add-dropbox" href="<%= new_users_file_provider_path(:provider => "dropbox") %>">
              <%= image_tag(asset_path("dropbox-button2.png"), :style => "margin-top: -5px;") %>
            </a>
            <a class="btn btn-lg btn-primary btn-provider" id="add-box" href="<%= new_users_file_provider_path(:provider => "box") %>">
              <%= image_tag(asset_path("box-logo2.png"), :style => "margin-top: -5px;") %>
            </a>
          </p>
          <p>
            <a class="btn btn-lg btn-primary btn-provider" id="add-google-drive" href="<%= new_users_file_provider_path(:provider => "google_drive") %>">
              <%= image_tag(asset_path("google-drive-button2.png"), :style => "margin-top: -5px;") %>
            </a>
            <a class="btn btn-lg btn-primary btn-provider" id="add-one-drive" href="<%= new_users_file_provider_path(:provider => "one_drive") %>">
              <%= image_tag(asset_path("skydrive-button2.png"), :style => "margin-top: -5px;") %>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<%- end %>
<%- @providers_rendered = true %>
