<div class="container align-center">
  <h2 id="home-header">Art. Cloud. MS Paint.</h2>
</div>

<div class="homepage-jumbotron align-center">
  <div class="container">
    <a id="homepage-get-started" class="btn btn-xlg btn-success sign-up-lnk" href="<%= new_user_registration_path %>">
      <i class="glyphicon glyphicon-check"></i> Get Started for Free
    </a>
  </div>
</div>

<%- if user_signed_in? %>

<script type="text/javascript">

var appOpts = {
  application: "<%= ENV['APPSTREAM_APPID'] %>",
  version: "<%= ENV['APPSTREAM_VERID'] %>",
  key_id: "<%= ENV['APPSTREAM_API_KEY'] %>",
  expires: "<%= @expires %>",
  file_provider_url: "<%= current_user.file_providers_api_url(api_file_providers_url) %>",
  signature: "<%= sign_api_request("POST", "https://api.x.io/v1/streams",
                                     # String needs to be in alphabetical order
                                     "application=#{ENV['APPSTREAM_APPID']}&expires=#{@expires}&file_provider_url=#{current_user.file_providers_api_url(api_file_providers_url)}&key_id=#{ENV['APPSTREAM_API_KEY']}&version=#{ENV['APPSTREAM_VERID']}",
                                     ENV['APPSTREAM_API_SECRET']) %>"
};

</script>

<%- end %>
